doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Add CDN links
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css",
      rel="stylesheet", 
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM", 
      crossorigin="anonymous"
    )
    //-  Link Dev Css
    link(rel="stylesheet", href="/css/main.css")
    //- Link fontawesome
    title #{pageTitle}

  body
    //- Create layout using Bootstrap grid
    .wrapper
      .row
        //- responsive layout >  nav will stay at col width
        nav.col-2
          //- Adding Nav icons
          //- a: link set up
          //- i: Fontawesome classes
          a(href="/")
            i.fa-solid.fa-dove
          a(href="/")
            i.fa-solid.fa-house
          a(href="/search")
            i.fa-solid.fa-magnifying-glass         
          a(href="/notifications")
            i.fa-solid.fa-bell      
          a(href="/messages")
            i.fa-solid.fa-envelope          
          a(href="/profile")
            i.fa-solid.fa-user          
          a(href="/logout")
            i.fa-solid.fa-right-from-bracket          

          //- Dev note: adding multiple columns using pug
          //- responsive layout > container will take up 10 cols then shrink to 8 cols on medium screens and 6 cols on large
        .mainSectionContainer.col-10.col-md-8.col-lg-6
          //- Add block Content
          block content
        //- class d-none will hide third column  ( display none )
        //- Responsive layout > d-md-clock - on medium size screens or above third column will display as block item at 2 cols and 4 cols on large
        .d-none.d-md-block.col-md-2.col-lg-4
          span third column

    //-  Add Fontawesome
    script(src="https://kit.fontawesome.com/04ab076c9b.js", crossorigin="anonymous")

    //- Add CDN scripts
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz",
      crossorigin="anonymous"
    )
    script(
      src="https://code.jquery.com/jquery-3.7.0.min.js",
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=",
      crossorigin="anonymous"
    )
